.upper-card {
    padding-top: 30px;
    min-height: 50%;
    position: relative;
    font-size: 1.2rem;
}

.upper-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.pokemon-image {
    max-height: 20vw;
    position: absolute;
    bottom: -4vw;
    z-index: 2;
}

.pokeball-image {
    position: absolute;
    width: 200px;
    opacity: .3;
    right: -50px;
    bottom: -35px;
}

.upper-card .details-title-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.upper-card .details-title .details-name {
    font-size: 2.3rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.upper-card .details-sub-title-container {
    display: flex;
    width: 100%;
}

.upper-card .details-id {
    font-weight: bolder;
}

.upper-card .details-sub-title-container .details-type {
    display: flex;
    width: 85px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .4);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    margin: 0px;
}

.upper-card .details-sub-title-container .details-type:first-child {
    margin-right: .5rem;
}

.upper-card .details-sub-title-container .details-type:nth-child(2) {
    margin-left: .5rem;
}

.bottom-card {
    position: relative;
    background: rgba(255, 255, 255, 0.85);
    height: 50%;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 50px 30px;
}

.bottom-card .bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-card .bottom-menu .bottom-menu-item {
    height: 2.5rem;
    list-style: none;
    cursor: pointer;
    opacity: .7;
    transition: all .4 ease-in-out;
    text-align: center;
}

.bottom-card .bottom-menu .bottom-menu-item:hover {
    opacity: 1;
}

.bottom-card .bottom-menu .bottom-menu-item.selected {
    opacity: 1;
    border-bottom: 2px solid;
}

.bottom-card .bottom-scroll-list {
    display:flex;
    padding-top: 2rem;
    width: 400%;
    transition: all .4s ease-in-out;
}

.bottom-card .container-details {
    position: relative;
    transition: all .4s ease-in-out;
    width: calc(100% - 60px);
}

.bottom-card .details-row {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: .3rem;
}

.bottom-card .details-row .details-description {
    opacity: .7;
    font-size: .8rem;
    text-transform: capitalize;
}

.bottom-card .details-row .details-value {
    position: absolute;
    left: 50%;
    text-align: left;
    font-weight: bolder;
    font-size: .8rem;
    width: 50%;
}

.bottom-card .details-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bottom-card .barraStatus {
    position: absolute;
    left: 30%;
    top: 40%;
    width: 70%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.bottom-card .barraCheia {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 0%;
    background-color: #520404;
    border-radius: 10px;
    transition: all .4s;
}